. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: xx-large;

}

.container:hover {
    flex-direction: column-reverse;
}

div:nth-child(2) {
    background-color: aqua;
}